<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSLV</title>
    <link rel="stylesheet" href="../public/css/stylesheet.css">
</head>
<body>

<main>
    <header>
        <div class="header-display">

            <nav class="header-menu">
                <a href="register.html">Register</a>
                <a href="login.html">Login</a>
            </nav>
            <div class="brand-logo">
                <a class="brand-logo" href="index.html">
                    <img src="/public/RSLV-Logo-Cropped.png" style="width: 60%">
                </a>
            </div>

            <div class="header-random-quote">A random quote will appear here</div>

            <div class="header-fade"></div>

        </div>

    </header>

    <main>

        <div class="card-menu">

            <a onclick="window.location.href='train.html'" class="card" id="train-card">
                <div class="card-text">Train</div>
            </a>

            <a onclick="window.location.href='learn.html'" class="card" id="learn-card">
                <div class="card-text">Learn</div>
            </a>

            <a onclick="window.location.href='progress.html'" class="card" id="progress-card">
                <div class="card-text">Progress</div>
            </a>


        </div>


    </main>

    <footer>
        <div class="footer-menu">


        </div>

    </footer>

</main>

</body>
</html>